<div class='main'>
  <h1> Browse the Ledger</h1>
  <p>Here you can browse all ShintoCoin transactions.</p>
  <div *ngIf="ledger.length != 0">
    <div class='row'>
      <p class='col4' >Shinto Coin Ledger</p>
    </div>
    <div>
      <p class='inline col1'>Action</p>
      <p class='inline col1'>Amount</p>
      <p class='inline col1'>Value</p>
      <p class='inline col1'></p>
    </div>
    <div *ngFor="let tranx of ledger">
        <p class='inline col1'>{{ tranx.action }}</p>
        <p class='inline col1'>{{ tranx.amount }}</p>
        <p class='inline col1'>{{ tranx.value }}</p>
        <button class='inline btn' [routerLink]="['/transaction', tranx.id]" value="{{ tranx.id }}" class='btn'>Details</button>
    </div>
  </div>
  <div *ngIf="ledger.length == 0">
    <h3>Ledger is empty</h3>
  </div>
</div>  
